:{$PORT:3000} {

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy sommelieriq-v2.railway.internal:8080
    }

    handle {
        root * /app/dist
        try_files {path} /index.html
        file_server
    }
}